{% extends 'base.html' %}


{% block title %}
Available Profiles to Invite
{% endblock title %}


{% block content %}
<h3>Here's the list of people you can connect with.</h3>
<p>These people are neither in your friends list nor do they have any pending invitations with you.</p>
<hr>
<ul>
    {% for profile in available_profiles %}
    <li>
        <div class="row" style="margin: 1%; width: 75%; border: solid black 1px; border-radius: 5px;">
            <div class="col-md-10">
                {{profile.user}}<br>
                {{profile.first_name}}<br>
                {{profile.last_name}}<br>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" style="margin: 10%">Connect/Invite</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}
