{% extends 'base.html' %}

{% block title %}
My Friends
{% endblock title %}

{% block content %}
<div class="centered1">
    <br>
    <h1>My Friends</h1>
    <hr>
    <ul>
      {% for profile in friends_profiles %}
      <li>
        <div class="row" style="margin: 1%; width: 75%; border: solid black 1px; border-radius: 5px;">
            <div class="col-md-8">
                {{profile.user}}<br>
                {{profile.first_name}}<br>
                {{profile.last_name}}<br>
            </div>
            <div class="col-md-4">
                <form action="{% url 'remove-from-friends' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{profile.pk}}">
                    <button type="submit" class="btn btn-primary" style="margin: 10%">Remove from Friends</button>
                </form>
            </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'my-profile' %}" class="btn btn-primary">Back to My Profile</a>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
