{% extends 'base.html' %}

{% block title %}
My Friends
{% endblock title %}

{% block content %}


<div class="ui raised segments" style="width:82%; margin:auto; padding:10px;">
    <br>
    <div class="ui grid">
        <div class="ui thirteen wide column">
            <h2>&nbsp; My Friends</h2>
        </div>

        <div class="ui three wide column">
        <a href="{% url 'my-profile' %}" class="ui primary button">
            <i class="arrow left icon"></i>
            Back to My Profile
        </a>
        </div>
    </div>
    <hr>

    {% if zero_friends %}
    <p class="ui message">You don't have any friends yet. Go to "Other people" section to send friend requests to people.</p>
    <a class="ui primary button" href="{% url 'available-profiles-to-invite' %}">Other people</a>
    {% else %}

    <div class="ui link cards" style="margin:auto">

        {% for profile in friends_profiles %}
      <div class="card" style="margin:auto; margin-top:7px; margin-bottom:7px;">
        <div class="image">
            <img src="{{profile.avatar.url}}">
        </div>
        <div class="content center aligned">

            <strong>{{profile.user}}</strong>
            {% if profile.first_name or profile.last_name %}
                <i class="ui right arrow icon"></i>
                {{profile.first_name}} {{profile.last_name}}
            {% endif %}

        </div>
        <div class="extra content">

            <div class="left floated">

                <form action="{% url 'remove-from-friends' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{profile.pk}}">
                    <button type="submit" class="ui red small button">Remove from Friends</button>
                </form>

            </div>

            <a class="ui inverted secondary small button right floated" href="{{profile.get_absolute_url}}">Profile</a>

        </div>
      </div>

        {% endfor %}

</div>
    {% endif %}

</div>
<br><br>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
