{% extends 'base.html' %}

{% block title %}
Received Requests
{% endblock title %}

{% block content %}


<div class="ui raised segments" style="width:82%; margin:auto; padding:10px;">
    <br>
    <div class="ui grid">
        <div class="ui thirteen wide column">
            <h2>You have received friend requests from the following people.</h2>
        </div>

        <div class="ui three wide column">
        <a href="{% url 'my-profile' %}" class="ui primary button">
            <i class="arrow left icon"></i>
            Back to My Profile
        </a>
        </div>
    </div>
    <hr>

    <div class="ui link cards" style="margin:auto">

        {% for sender in senders %}
      <div class="card">
        <div class="image">
            <img src="{{sender.avatar.url}}">
        </div>
        <div class="content">
          <div class="ui header">
            {{sender.user}}
              <a class="ui inverted secondary button right floated" href="{{sender.get_absolute_url}}">See Profile</a>
          </div>
          <div class="description">
            {{sender.first_name}} {{sender.last_name}}

          </div>
        </div>
        <div class="extra content">

            <div class="left floated">
                <form action="{% url 'accept-request' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{sender.pk}}">
                    <button type="submit" class="ui green button">
                        Accept
                    </button>
                </form>
            </div>
            <div class="right floated">
                <form action="{% url 'reject-request' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{sender.pk}}">
                    <button type="submit" class="ui red button">
                        Reject
                    </button>
                </form>
            </div>

        </div>
      </div>

        {% endfor %}

</div>

</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}

