{% extends 'base.html' %}

{% block title %}
Received Requests
{% endblock title %}

{% block content %}


<div class="ui raised segments" style="width:82%; margin:auto; padding:10px;">
    <br>
    <div class="ui grid">
        <div class="ui thirteen wide column">
            <h2>&nbsp; You have received friend requests from the following people.</h2>
        </div>

        <div class="ui three wide column">
        <a href="{% url 'my-profile' %}" class="ui primary button">
            <i class="arrow left icon"></i>
            Back to My Profile
        </a>
        </div>
    </div>
    <hr>

    <div class="ui link cards" style="margin:auto">

        {% for sender in senders %}
      <div class="card" style="margin:auto; margin-top:7px; margin-bottom:7px;">
        <div class="image">
            <img src="{{sender.avatar.url}}">
        </div>
        <div class="content center aligned">

            <strong>{{sender.user}}</strong>
            {% if sender.first_name or sender.last_name %}
                <i class="ui right arrow icon"></i>
                {{sender.first_name}} {{sender.last_name}}
            {% endif %}

        </div>
        <div class="extra content">

            <div class="left floated">
                <form action="{% url 'accept-request' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{sender.pk}}">
                    <button type="submit" class="ui green small button">
                        Accept
                    </button>
                </form>
            </div>

            <div class="left floated">
                <form action="{% url 'reject-request' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{sender.pk}}">
                    <button type="submit" class="ui red small button">
                        Reject
                    </button>
                </form>
            </div>

            <a class="ui inverted secondary small button right floated" href="{{sender.get_absolute_url}}">Profile</a>

        </div>
      </div>

        {% endfor %}

</div>

</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}

