{% extends 'base.html' %}

{% block title %}
Received Requests
{% endblock title %}

{% block content %}
<div class="centered1">
    <br>
    <h1>You have received friend requests from the following people.</h1>
    <hr>
    <ul>
      {% for sender in senders %}
      <li>
        <div class="row" style="margin: 1%; width: 75%; border: solid black 1px; border-radius: 5px;">
            <div class="col-md-4">
                <img src="{{sender.avatar.url}}" alt="avatar" style="width: 75px; height: 75px;">
            </div>
            <div class="col-md-4">
                {{sender.user}}<br>
                {{sender.first_name}}<br>
                {{sender.last_name}}<br>
            </div>
            <div class="col-md-4">
                <form action="{% url 'accept-request' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{sender.pk}}">
                    <button type="submit" class="btn btn-success">Accept</button>
                </form>
                <br>
                <form action="{% url 'reject-request' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{sender.pk}}">
                    <button type="submit" class="btn btn-warning">Reject</button>
                </form>
            </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'my-profile' %}" class="btn btn-primary">Back to My Profile</a>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

