{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">


    <div class="ui text container">
      <h1 class="ui inverted header">
        The-Social-Network
      </h1>
      <h2>Not that Mark Zuckerberg movie, but a project  &nbsp; <i class="smile outline icon"></i></h2>
      {% if request.user.is_anonymous %}
      <a href="{% url 'sign-up' %}" class="ui huge primary button">Get Started <i class="right arrow icon"></i></a>
      {% endif %}
      <br><br>
      <p>Scroll down for more info ...</p>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">What is it ?</h3>
          <p>The-Social-Network is a project made by a college student to develop a clone of social media sites like Facebook and Instagram with core functionalities.</p>
          <h3 class="ui header">Why is it ?</h3>
          <p>The motivation behind building this project lies in the following points.</p>
          <p><i class="caret right icon"></i>Learn the ins and outs of programming.</p>
          <p><i class="caret right icon"></i>Understand the backend structure of such social media platforms.</p>
          <p><i class="caret right icon"></i>Learn full stack development.</p>
          <p><i class="caret right icon"></i>Improve project portfolio.</p>
        </div>
        <div class="six wide right floated column">
          <img src="{% static 'images/social-media.png' %}" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Developer Info</a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a project"</h3>
          <p>That is what they all say about this.</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            Expected reviews ... <i class="smile outline icon"></i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Create and Share Posts</h3>
      <p>Capture the moments that you want to share with your friends or the world. Share them here by creating posts and receiving likes and comments.</p>

      <h3 class="ui header">Connect with people</h3>
      <p>Connect with people around the world via friend requests to see their posts. Send, receive or accept friend request invitations to create a connection or remove existing connections.</p>

      <br>
      <h4 class="ui horizontal header divider">
        <a href="#">Upcoming features</a>
      </h4>
      <h3 class="ui header">Chat with people</h3>
      <p>You can chat with people using The-Social-Network.</p>

      <h3 class="ui header">Stories</h3>
      <p>Create and share 'stories' that disappear after 24 hours.</p>

      <h3 class="ui header">Photo tagging</h3>
      <p>No more manually tagging your friends in the pics you post. The-Social-Network will do it for you.</p>

      <h3 class="ui header">Search</h3>
      <p>Search people with their usernames within the search bar.</p>


    </div>
  </div>


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
