
<div class="ui inverted segment">
  <div class="ui inverted secondary large menu">
    <a class="active item" href="{% url 'home-page' %}">
      Home
    </a>
    {% if request.user.is_anonymous %}

    {% else %}
    <a class="active item" href="{% url 'main-posts-view' %}">
      Posts
    </a>
    <a class="active item" href="{% url 'my-profile' %}">
      My profile
    </a>
    {% endif %}

    <div class="right menu">
      {% if request.user.is_anonymous %}
      <div class="item">
          <a href="{% url 'sign-up' %}" class="ui primary button">Sign Up</a>
      </div>
      <div class="item">
          <a href="{% url 'login' %}" class="ui grey button">Login</a>
      </div>
      {% else %}
      <div class="item">
        <b>Hi, {{user}}</b>
      </div>
      <div class="item">
          <a href="{% url 'logout' %}" class="ui primary button">Logout</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>