
<div class="ui inverted segment">
  <div class="ui inverted secondary large menu">
    <a class="active item">
      Home
    </a>
    {% if request.user.is_anonymous %}
    <a class="active item">
      About
    </a>
    {% else %}
    <a class="active item">
      Feed
    </a>
    {% endif %}

    <div class="right menu">
      {% if request.user.is_anonymous %}
      <div class="item">
          <div class="ui primary button">Sign Up</div>
      </div>
      <div class="item">
          <div class="ui grey button">Login</div>
      </div>
      {% else %}
      <div class="item">
          <div class="ui primary button">Logout</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>