{% extends 'base.html' %}


{% block title %}
Delete Post
{% endblock title %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <h3 style="color:red">{{message}}</h3>
            {% endif %}
        {% endfor %}

    {% else %}
        <div class="ui raised segment center aligned" style="margin:auto; width:50%;">
            <h1 class="ui header center aligned">Are you sure you want to delete this post ?</h1>
            <hr>
            <form method="post" action="" class="ui form">
            {% csrf_token %}
            <button type="submit" class="ui red button">Yes, delete</button>
                <a href="{% url 'main-posts-view' %}" class="ui secondary button">Back</a>
            </form>
        </div>
    {% endif %}

{% endblock content %}


{% block scripts %}
{% endblock scripts %}
