{% extends 'base.html' %}
{% load static %}

{% block title %}
Posts
{% endblock title %}


{% block content %}

<div class="ui grid centered" xmlns="http://www.w3.org/1999/html">
    <div class="seven wide column">
        {% for post in posts_qs %}
        <div class="ui raised segment">
            <div class="ui grid">
                <div class="eleven wide column">
                    <p class="ui small header">{{post.author}}</p>
                    <p class="extra content">{{post.created|timesince}} ago</p>
                </div>
                <div class="five wide column">
                    {% ifequal request.user post.author.user %}
                    <a href="{% url 'update-post' post.pk %}" class="ui primary button">Edit</a>&nbsp;&nbsp;
                    <a href="{% url 'delete-post' post.pk %}" class="ui secondary button">Delete</a>&nbsp;&nbsp;
                {% endifequal %}
                </div>
            </div>
            <hr>
            {% if post.image %}
            <img src="{{post.image.url}}" class="ui medium image centered">
            <hr>
            {% endif %}
            <p class="ui small header">{{post.content}}</p>
            <div class="ui grid">
                <div class="nine wide column">
                    <p>
                        Likes: <span class="like-unlike-count-{{post.id}}">{{post.likes}}</span>, &nbsp;
                        Comments: {{post.num_of_comments}}
                    </p>
                </div>
                <div class="seven wide column">

                    {% if post.comment_set.exists %}
                    <button class="ui primary small button right floated" id="comments-toggle-btn">Show comments</button>
                    {% endif %}

                    <div class="right floated" style="float:right;">
                        <form method="post" action="{% url 'like-unlike-post' %}" class="like-unlike-form" id="{{post.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">

                            <button type="submit" class="ui small button like-unlike-btn-{{post.id}}">
                                {% if profile not in post.liked_by.all %}
                                Like
                                {% else %}
                                Unlike
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% if post.comment_set.exists %}
            <div id="comment-box" style="display:none">
                <hr>
                <p><strong> &nbsp; Comments</strong></p>
                    <div class="ui segments">
                    {% for comment in post.comment_set.all %}
                        <div class="ui segment">
                            <p><strong>{{comment.user}}</strong>
                                <i class="caret right icon"></i>
                                {{comment.body}}</p>
                        </div>
                    {% endfor %}
                    </div>
            </div>
            {% endif %}

            <hr>
            <form action="{% url 'submit-new-comment' %}" method="post">
                    {% csrf_token %}
                    {{new_comment_form.body}}
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button type="submit" class="ui green button right floated">Comment</button>
            </form>

        </div>
        <br>
        {% endfor %}
    </div>
    <div class="five wide column">
        <div class="ui raised segment">
            <h3 class="ui header">Create a Post</h3>
            <hr>
            <form action="{% url 'create-post' %}" method="post" enctype="multipart/form-data" class="ui form">
                {% csrf_token %}
                <strong>Image:</strong>{{new_post_form.image}}
                <br><br>
                <strong>Content:</strong>{{new_post_form.content}}
                <br><br>
                <hr>
                <button type="submit" class="ui secondary inverted button">Post</button>
            </form>
        </div>
    </div>
</div>

<br><br>

{% endblock content %}


{% block scripts %}
<script>
    $(document).ready(function() {
        button = document.getElementById('comments-toggle-btn');
        button.addEventListener("click", function () {
            comment_box = document.getElementById('comment-box');
            if (comment_box.style.display == "none")
            {
                comment_box.style.display = "block";
                button.innerHTML = 'Hide comments';
            }
            else <!-- if (comment_box.style.display == "block") -->
            {
                comment_box.style.display = "none";
                button.innerHTML = 'Show comments';
            }
        });

        $('.like-unlike-form').submit(function(e) {
            e.preventDefault()

            // Get the post-id from the form-id.
            const post_id = $(this).attr('id')

            // Get the text on the button, i.e., 'Like'/'Unlike'.
            const text = $(`.like-unlike-btn-${post_id}`).text()
            const btn_text = $.trim(text)

            // Get the url.
            const url = $(this).attr('action')

            // Get the likes count.
            let result;
            const raw_likes_count = $(`.like-unlike-count-${post_id}`).text()
            const likes_count = parseInt(raw_likes_count)

            // Ajax part - Initial part of ajax code below sends the request and data
            // to the function defined in views.py, i.e., the server. Then the later
            // part receives the Json response and renders it to the front end.
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id
                },

                success: function(response) {
                    // Gets Json response.
                    if (btn_text === 'Unlike')
                    {
                        $(`.like-unlike-btn-${post_id}`).text('Like')
                        result = likes_count - 1
                    }
                    else
                    {
                        $(`.like-unlike-btn-${post_id}`).text('Unlike')
                        result = likes_count + 1
                    }
                    $(`.like-unlike-count-${post_id}`).text(result)
                },
                error: function(response) {
                    // Error.
                    console.log('Error', response)
                }
            })
        });
    });
</script>
{% endblock scripts %}
