{% extends 'base.html' %}
{% load static %}

{% block title %}
Posts
{% endblock title %}


{% block content %}

    <div class="row">
        <div class="col-md-8">

            {% for post in posts_qs %}
                <h4>{{post.author}}</h4><br>
                {{post.created|timesince}} ago <br>
                {% ifequal request.user post.author.user %}
                    <a href=""><button class="btn btn-dark">Update</button></a>&nbsp;&nbsp;
                    <a href=""><button class="btn btn-dark">Delete</button></a>&nbsp;&nbsp;
                {% endifequal %}
                <br>
<!--                <img src="post.image.url" alt="post image">-->
                <p>{{post.content}}</p><br>

                <form method="post" action="{% url 'like-unlike-post' %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">

                    {% if profile not in post.liked_by.all %}
                    <button type="submit" class="btn btn-primary">Like</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Unlike</button>
                    {% endif %}
                </form>

                <p>Total likes : {{post.likes}}</p>

                {% if post.comment_set.exists %}
                <button class="btn btn-secondary" id="comments-toggle-btn">Show/Hide comments</button>
<!--                <div class="row" style="border:solid black 1px;">-->
<!--                    <div id="comment-box" class="col-md-4">-->
                    <section id="comment-box" style="display:none">
                    <h4>Comments</h4>

                        {% for comment in post.comment_set.all %}
                            <p><strong>{{comment.user}}</strong> ---> {{comment.body}}</p><br>
                        {% endfor %}

                    {% endif %}
                    </section>
<!--                    </div>-->
<!--                </div>-->


                <form action="{% url 'submit-new-comment' %}" method="post">
                    {% csrf_token %}
                    {{new_comment_form.as_p}}
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button type="submit" class="btn btn-success">Comment</button>
                </form>
                <hr>
            {% endfor %}

        </div>

        <div class="col-md-4" style="border-left: groove">

            <h1>Create a post</h1>
            <hr>
            <form action="{% url 'create-post' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{new_post_form.as_p}}
                <button type="submit" class="btn btn-secondary">Post</button>
            </form>

        </div>

    </div>


{% endblock content %}


{% block scripts %}
<script>
    button = document.getElementById('comments-toggle-btn');
    button.addEventListener("click", function () {
        comment_box = document.getElementById('comment-box');
        if (comment_box.style.display == "none")
        {
            comment_box.style.display = "block";
        }
        else <!-- if (comment_box.style.display == "block") -->
        {
            comment_box.style.display = "none"
        }
    });
</script>
{% endblock scripts %}
